doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
  body
    div.container.navbar-dark.bg-dark
      a(class='navbar-brand text-success' href='/') Menü
      a(class='navbar-brand' href='/users') Kullanıcılar
      a(class='navbar-brand' href='/persons') Personeller
      a(class='navbar-brand' href='/items') Ürünler
      a(class='navbar-brand' href='/manufacturers') Tedarikçiler
      a(class='navbar-brand' href='/repo') Depo
      
      
          
    block content
  
  include foot
